{% extends 'base.html.twig' %}

{% block title %}Plasma, Éditer l'utilisateur{% endblock %}

{% block body %}
    <h1 class="m-3">Éditer l'utilisateur</h1>
    {{ render(controller('App\\Controller\\Front\\DefaultController::getOperationsAction',{'route': app.request.attributes.get('_route'), 'entity': user})) }}

    {{ include('back/user/_form.html.twig', {'button_label': 'Update'}) }}

    {% include 'page/return.html.twig' with {'backPageName': 'front_profile'} %}
{% endblock %}
