{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == 'success' %}
            <div id="success_iz" data-message="{{ message }}">
            </div>
        {% endif %}
        {% if label == 'error' %}
            <div id="error_iz" data-message="{{ message }}">
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}