{% extends 'base.html.twig' %}

{% block title %}New Entrant{% endblock %}

{% block body %}
    <h1>Create new Entrant</h1>

    {{ include('back/entrant/_form.html.twig') }}

    {% include 'page/return.html.twig' with {'backPageName': 'back_entrant_index'} %}
{% endblock %}
