{% extends 'base.html.twig' %}

{% block title %}Plasma, se connecter{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <h2 class="m-3 text-center title">Connectez-vous maintenant</h2>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-1 mb-1" placeholder="Email" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control mt-1 mb-1" placeholder="Mot de passe" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-2">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn btn-md btn-primary" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </div>
{% endblock %}
