{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="m-3">Please register</h1>
                {{form(securityForm)}}
            </div>
        </div>
    </div>
{% endblock %}