<div class="row">
    <div class="col-md-12">
        {% if event.moduleTournament.matches is empty %}
            <a href="{{ path('module_tournament_init_matches', {'id': event.moduleTournament.id}) }}" class="btn btn-primary">Create matches</a>
        {% else %}

        {% endif %}
        <div class="card round">
            <h5 class="card-header">ROUND 1</h5>
            <div class="card-body">
                <div class="card">
                    <h5 class="card-header">MATCH 1</h5>
                    <div class="card-body">
                        <h5 class="card-title">TOTO VS TITI</h5>
                        <p class="card-text">Content ?</p>
                        <a href="#" class="btn btn-primary">Add score</a>
                        <a href="#" class="btn btn-primary">Ce que tu veux</a>
                    </div>
                </div>
                <div class="card match">
                    <h5 class="card-header">MATCH 1</h5>
                    <div class="card-body">
                        <h5 class="card-title">TOTO VS TITI</h5>
                        <p class="card-text">Content ?</p>
                        <a href="#" class="btn btn-primary">Add score</a>
                        <a href="#" class="btn btn-primary">Ce que tu veux</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>