{% extends 'Modules/base.html.twig' %}
{% block module_title %}
    {% if not ajax %}
        Module {{ event.moduleTournament.name }}
    {% endif %}
{% endblock %}

{% block module_content %}
    <div id="moduleTournament" data-id="{{ event.moduleTournament.id }}">
        {% if not ajax %}
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                {% endif %}
                {{ form(form) }}
                {% if not ajax %}
            </div>
        </div>
        {% endif %}</div>
{% endblock %}
