{% extends 'Modules/base.html.twig' %}

{% block module_title %}Module {{ event.moduleTournament.name }}{% endblock %}

{% block module_content %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
