$primary: #fe4a3b;
$dark: #212121;
$link-hover-color: #fe4a3b;
$navbar-dark-active-color: $link-hover-color;
$navbar-dark-hover-color: $link-hover-color;
$font-family-sans-serif: 'Open Sans', sans-serif;