$primary: #fe4a3b;
$secondary: #00bdbb;
$dark: #212121;
$link-hover-color: #fe4a3b;
$navbar-dark-active-color: $link-hover-color;
$navbar-dark-hover-color: $link-hover-color;
$font-family-sans-serif: 'Open Sans', sans-serif;
$nav-tabs-link-active-bg: $primary;
$nav-tabs-link-active-color: white;
$nav-tabs-border-color: $primary;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-link-hover-border-color: $primary;