{% extends 'base.html.twig' %}

{% block title %}Plasma - Éditer l'adresse{% endblock %}

{% block body %}
    <h1 class="m-3">Éditer l'adresse</h1>
    {{ render(controller('App\\Controller\\Front\\DefaultController::getOperationsAction',{'route': app.request.attributes.get('_route'), 'entity': address})) }}

    {{ include('back/address/_form.html.twig', {'button_label': 'Update'}) }}

    {% include 'page/return.html.twig' with {'backPageName': 'back_address_index'} %}
{% endblock %}
