<div class="row">
    <div class="col-md-12">
        {{ form_start(formTeam) }}
        <ul class="teams" data-prototype="{{ form_widget(formTeam.teams.vars.prototype)|e }}">
        </ul>
        {{ form_end(formTeam) }}
    </div>
</div>