/* Skeleton */
.active-skeleton {
  display: block !important;
}

.skeleton {
  display: none;
  width: 33.33%;
  position: relative;
  margin: 1rem;
  .hero {
    min-height: 30vh;
    background: lightgray;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  .title {
    min-height: 20px;
    background: lightgray;
    margin-bottom: 1rem;
  }
  .text {
    min-height: 20px;
    max-width: 60%;
    background: lightgray;
    margin-bottom: 1rem;
  }
}

.skeleton::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

a:hover {
  text-decoration: none;
}

.event-form {
  a {
    color:black !important;
  }
  a:hover {
    text-decoration: none !important;
  }
}
