{% extends 'base.html.twig' %}

{% block title %}Edit Entrant{% endblock %}

{% block body %}
    <h1>Edit Entrant</h1>

    {{ include('entrant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entrant_index') }}">back to list</a>

    {{ include('entrant/_delete_form.html.twig') }}
{% endblock %}
