{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1 class="m-3">Edit Event</h1>
    {{ render(controller('App\\Controller\\Front\\DefaultController::getOperationsAction',{'route': app.request.attributes.get('_route'), 'entity': event})) }}

    {{ include('back/event/_form.html.twig', {'button_label': 'Update'}) }}

    {% include 'page/return.html.twig' with {'backPageName': 'back_event_index'} %}
{% endblock %}
