{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Create new Event</h1>
                {{ include('back/event/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
