{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="m-3 title">Create new Event</h1>
            {{ include('back/event/_form.html.twig') }}
        </div>
    </div>
    {% include 'page/return.html.twig' with {'backPageName': 'back_event_index'} %}
{% endblock %}
